<template name="hiddenInput">

{{#if currentUser}}
  {{#if this}}

    <a href="#" data-edit class="icon icon--white fa fa-edit"></a>
    {{> Template.contentBlock}}
    <input type="text" style="display: none;" name="dynamicValue" value="{{dynamicValue}}">

  {{else}}

    <a href="#" data-edit class="icon icon--white fa fa-edit"></a>
    <h1 class="text-white hard push-half-bottom uppercase" data-editable>
      {{dynamicValue}}
    </h1>

    <input type="text" style="display: none;" name="dynamicValue" value="{{dynamicValue}}">

  {{/if}}

{{else}}
  {{#if this}}
    {{> Template.contentBlock}}
  {{else}}
    <h1 class="text-white hard push-half-bottom uppercase" data-editable>
      {{dynamicValue}}
    </h1>
  {{/if}}

{{/if}}



</template>
