
<template name="screen-printing">
  {{> service serviceName='screen-printing'}}
</template>

<template name="custom-printing">
  {{> service serviceName='custom-printing'}}
</template>

<template name="letterpress">
  {{> service serviceName='letterpress'}}
</template>

<template name="service">
  {{!--
  {{> Hero active=serviceName}}
  --}}

  {{> HeroAlt active=serviceName}}

  {{#with service}}
    <section id="#quote" class="soft-double-top soft-sides text-center constrain-small-copy hard-bottom">
      <h4 class="push-double-top">
        Quick Estimate
      </h4>
      <p>
        A simple and easy way to get a quick estimate of you next project.
      </p>
    </section>
    {{> quote}}
  {{/with}}

  {{> ad active=serviceName}}
  {{> staff active=serviceName}}
  {{> Footer active=serviceName}}


</template>
