
<template name="screen-printing">
  {{> service serviceName='screen-printing'}}
</template>

<template name="custom-printing">
  {{> service serviceName='custom-printing'}}
</template>

<template name="letterpress">
  {{> service serviceName='letterpress'}}
</template>

<template name="service">
  {{!--
  {{> Hero active=serviceName}}
  --}}
  {{!--
  {{> submitCard}}
   --}}



  {{> HeroAlt active=serviceName}}

  {{#with service}}
    {{> quote}}
  {{/with}}

  {{> ad active=serviceName}}
  {{> staff active=serviceName}}
  {{> Footer active=serviceName}}


</template>
