<template name="service">

  {{!--

    This seems hacky but might be a limitation with the new Iron Router
    since it looks like it requires setting a render method

  --}}
  {{> services name=serviceName}}


</template>



<template name="services">

  {{#with service}}

    {{> hero}}

    {{#if service.quote}}

      <section class="soft-double-top soft-sides text-center constrain-small-copy hard-bottom">
        <h4 class="push-double-top">
          Quick Estimate
        </h4>
        <p>
          A simple and easy way to get a quick estimate of you next project.
        </p>
      </section>

      {{> quote}}

    {{/if}}

    {{> ad}}

    {{> staff}}

    {{> footer}}

  {{/with}}

</template>
