
$colors: (
  "primary": #ea6045,
  "secondary": #2f3440,
  "tertiary": #3f5666,

  "dark": #303030,
  "medium": #858585,
  "light": #fff,

  "base": #ddd,
  "alert": #c64f55
);
//
$font-colors: (
  "base": $base-font-color,
  "light": #f5e5c0,
  "medium": #858585,
  "dark": #303030,
  "custard": #f5f5f5,  // evaluate name of variable
  "white": #fff
);


$fonts: extend($fonts, (
  roboto: (
    h1: (
      font-family: "Roboto Condensed",
      font-size: 2.5em,
      line-height: .9,
      letter-spacing: 2px,
      font-weight: 800,
      text-transform: uppercase,
      margin-bottom: $base-spacing-unit
    ),
    h2: (
      font-family: "Roboto Condensed",
      font-size: 1.5em,
      line-height: .9,
      text-transform: uppercase,
      margin-bottom: $base-spacing-unit
    ),
    h3: (
      font-family: "Roboto Condensed",
      font-size: 1.15em,
      line-height: .9,
      font-weight: 400,
      text-transform: uppercase,
      margin-bottom: $base-spacing-unit
    ),
    h4: (
      font-family: "Roboto Condensed",
      font-size: 1.15em,
      line-height: 1,
      font-weight: 700,
      text-transform: uppercase,
      margin-bottom: $half-spacing-unit
    ),
    h5: (
      font-family: "Roboto Condensed",
      font-size: 1em,
      line-height: 1,
      margin-bottom: $half-spacing-unit
    )
  ),
  "serif": (
    h6: (
      font-family: "georgia",
      font-size: .75em,
      line-height: 1.15,
      margin-bottom: $half-spacing-unit
    ),
    p: (
      font-size: .875em,
      line-height: 1.25,
      font-family: "georgia",
      margin-bottom: $base-spacing-unit
    ),
    small: (
      font-size: .875em,
      line-height: 1.15
    )
  )
));

// type sets
$typography: extend($typography, (
  h1: "roboto",
  h2: "roboto",
  h3: "roboto",
  h4: "roboto",
  h5: "roboto",
  h6: "serif",
  p: "serif",
  small: "serif"
));


$ratios: extend($ratios, (
  ratio--picture: (
    width: 1,
    height: 1.25
  ),
  ratio--thin: (
    width: 3,
    height: 1
  )
));

$brands: "facebook", "twitter", "instagram";


$constraints: (
  "copy": (
    min-width: 280px,
    max-width: 768px
  ),
  "small-copy": (
    max-width: 550px
  ),
  "wide": (
    max-width: 1024px
  ),
  "btn": (
    min-width: 150px
  )
);
