
$is-newspring: false;
// $colors: (
//   "primary": #9fdaae,
//   "secondary": #bbe2c5,
//   "tertiary": #d9eadd
// );
$colors: extend($colors, (
  "primary": #88a388,
  "secondary": #657c69,
  "tertiary": #3c563c
));


// $colors: (
//   "primary": #e27242,
//   "secondary": #2f3440,
//   "tertiary": #3f5666
// );
$fonts: extend($fonts, (
  raleway: (
    h1: (
      font-family: "Raleway",
      font-size: 4em,
      line-height: .9,
      letter-spacing: 0,
      font-weight: 700,
      text-transform: uppercase,
      margin-bottom: $base-spacing-unit,
      media-query: (
        handheld: (
          font-size: 2.25em
        )
      )
    ),
    h2: (
      font-family: "Raleway",
      font-size: 2.25em,
      letter-spacing: 3px,
      line-height: .9,
      text-transform: uppercase,
      margin-bottom: $base-spacing-unit
    ),
    h3: (
      font-family: "Raleway",
      font-size: 1.15em,
      line-height: .9,
      font-weight: 400,
      text-transform: uppercase,
      margin-bottom: $base-spacing-unit
    ),
    h4: (
      font-family: "Raleway",
      font-size: 1.15em,
      line-height: 1,
      font-weight: 400,
      text-transform: uppercase,
      margin-bottom: $half-spacing-unit
    ),
    h5: (
      font-family: "Raleway",
      font-size: .875em,
      line-height: 1,
      font-weight: 400,
      margin-bottom: $half-spacing-unit
    ),
    h5 small: (
      color: lighten(map-get($colors, dark-tertiary), 10)
    ),
    h6: (
      font-family: "Raleway",
      font-size: 1em,
      line-height: 1,
      margin-bottom: $half-spacing-unit
    )
  ),
  "serif": (
    h6: (
      font-family: "georgia",
      font-size: .75em,
      line-height: 1.15,
      margin-bottom: $half-spacing-unit
    ),
    p: (
      font-size: .875em,
      line-height: 1.25,
      font-family: "georgia",
      margin-bottom: $base-spacing-unit
    ),
    small: (
      font-size: .875em,
      line-height: 1.15
    )
  )
));

// type sets
$typography: extend($typography, (
  h1: "raleway",
  h2: "raleway",
  h3: "raleway",
  h4: "raleway",
  h5: "raleway",
  h5 small: "raleway",
  h6: "raleway",
  p: "serif",
  small: "serif"
));
$ratios: extend($ratios, (
  ratio--picture: (
    width: 1,
    height: 1.25
  ),
  ratio--thin: (
    width: 3,
    height: 1
  )
));
$brands: "facebook", "twitter", "instagram", "dribbble";
$constraints: (
  "copy": (
    min-width: 240px,
    max-width: 768px
  ),
  "small-copy": (
    max-width: 550px
  ),
  "wide": (
    max-width: 1024px
  ),
  "btn": (
    min-width: 150px
  )
);
