<template name="HeroAlt">
  <div class="section  one-whole text-center soft">
    <div class="flush hard lap-and-up-width-one-third">
      {{> logo class="two-thirds palm-wide-one-third lap-one-quarter lap-wide-and-up-one-fifth" color="#FFC051"}}
    </div>


  </div>
  <section class="overlay--solid-dark-secondary hard background--fill background--primary">
    <div class="overlay__item" >
      <div class="ratio--square lap-and-up-ratio--landscape" >
        <div class="ratio__item floating--left handheld-text-center">
          <div class="floating__item text-left">
            <div class="lap-and-up-soft-double-left handheld-soft-half lap-and-up-push-left">

              <div class="soft-top display-inline-block">
                {{#each serviceList}}
                  <a href="{{this.url}}" class="link-{{service}} display-inline-block lap-and-up-soft-half-right {{#if isActive this.url}}text-primary{{else}}text-light{{/if}}">
                    <h4 class="lowercase flush text-nav">
                    [ {{name}} ]
                    </h4>
                  </a>
                {{/each}}
                {{!--
                <a href="/screen-printing" class="display-inline-block lap-and-up-soft-right {{#if isActive '/screen-printing'}}text-primary{{else}}text-light{{/if}}">
                  <h4 class="lowercase flush text-nav">
                  [ Screen Prints ]
                  </h4>
                </a>
                <a href="/letterpress" class="display-inline-block lap-and-up-soft-right {{#if isActive '/letterpress'}}text-primary{{else}}text-light{{/if}}">
                  <h4 class="lowercase flush text-nav">
                  [ letterpress ]
                  </h4>
                </a>
                <a href="/custom-printing" class="display-inline-block {{#if isActive '/custom-printing'}}text-primary{{else}}text-light{{/if}}">
                  <h4 class="lowercase flush text-nav">
                  [ posters & signs ]
                  </h4>
                </a>
                --}}
              </div>

              <div class="soft-ends ">
                <img class="lap-and-up-three-quarters" src="//s3.amazonaws.com/images.dapperink/dapper/site/images/weareprinters.png" alt="" />
              </div>

              {{!--
              <h2 class="text-massive text-white soft-half-top  flush uppercase">
                We<br>are<br>printers
              </h2>
              --}}

              <div class="grid flush one-whole soft-half-top">
                {{!--
                {{#each serviceList}}
                  <div class="grid__item one-third text-center active">
                    <a href="{{pathFor 'service' service=this.url}}" >
                      <h5 class="uppercase text-center">
                        <small class="{{#if isActive this.url}}text-brand{{else}}text-white{{/if}}">{{name}}</small>
                      </h5>
                    </a>
                  </div>
                {{/each}}

                <div class="grid__item hard handheld-one-whole lap-and-up-auto text-center uppercase"  style="vertical-align: middle; margin-right: 10px;">
                  <a href="/screen-printing" style=" min-width: 240px;" class="btn btn--nav {{#if isActive '/screen-printing'}}btn--filled{{else}}btn--gray{{/if}}">
                      Screen Printing
                  </a>
                </div>

                <div class="grid__item hard handheld-one-whole lap-and-up-auto text-center uppercase" style="vertical-align: middle; margin-right: 10px;">

                  <a href="/letterpress" style=" min-width: 240px;" class="btn btn--nav {{#if isActive '/letterpress'}}btn--filled{{else}}btn--gray{{/if}}">
                      Letterpress
                  </a>

                </div>

                <div class="grid__item hard handheld-one-whole lap-and-up-auto text-center uppercase" style="vertical-align: middle;">
                  <a href="/custom-printing" style=" min-width: 240px;" class="btn btn--nav {{#if isActive '/custom-printing'}}btn--filled{{else}}btn--gray{{/if}}">
                      Custom Printing
                  </a>
                </div>
                --}}

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    {{> HeroImageAlt image=img.get}}
  </section>



</template>

<template name="HeroImageAlt">

  <div class="
    background--primary
    flush hard
    "
    style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"
    >
    <div class="ratio--square lap-and-up-ratio--landscape background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/{{image}})">
      <div class="ratio__item">

      </div>
    </div>
  </section>

</template>
