<template name="Hero">

  <section class="one-whole soft-double-top hard-bottom flush handheld-hard-sides">
    <div class="one-whole text-center">
      <div class="handheld-soft soft-double-top text-center">
        <h1 class="uppercase">
          Dapper Ink
        </h1>
        <div class="grid hard flush one-whole text-center">
          <div class="grid__item hard flush one-quarter">
            <hr class="flush-top"/>
          </div>

        </div>


        <div class="grid flush soft-double-bottom">
          <div class="grid__item lap-and-up-auto handheld-one-third handheld-hard">
            <a href="/screen-printing" >
              <h5 class=" uppercase text-center display-inline-block flush">
                <small class="{{#if isActive '/screen-printing'}}text-brand{{/if}}">
                  Screen Printing
                </small>
              </h5>
            </a>
          </div>
          <div class="grid__item lap-and-up-auto handheld-one-third handheld-hard">
            <a href="/letterpress" >
              <h5 class=" uppercase text-center display-inline-block flush">
                <small class="{{#if isActive '/letterpress'}}text-brand{{/if}}">
                  letterpress
                </small>
              </h5>
            </a>
          </div>
          <div class="grid__item lap-and-up-auto handheld-one-third handheld-hard">
            <a href="/custom-printing" >
              <h5 class=" uppercase text-center display-inline-block flush">
                <small class="{{#if isActive '/custom-printing'}}text-brand{{/if}}">
                  Custom Printing
                </small>
              </h5>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>



  {{> HeroImage image=img.get}}

</template>

<template name="HeroImage">

  <section class="
    background--secondary
    flush hard
    "
    >
    <div class="ratio--thin background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/{{image}})">
      <div class="ratio__item">

      </div>
    </div>
  </section>

</template>
