<template name="ad">

  <section class="overlay--solid-dark hard background--fill" style="background-image:url(//www.dapperink.com/images/slides/5-tees.jpg)">
    <div class="overlay__item handheld-ratio--none lap-and-up-ratio--landscape">
      <div class="floating ratio__item">
       <div class="floating__item push constrain-small-copy">

         <h2 class="text-white push-double-top">We are designers</h2>
         <p class="text-white push-top push-double-bottom">
           Have a great idea but need help fleshing it out?
           We have a phenomenal team of designers and we would love to help
         </p>
         <a href="/" class="btn--filled btn--small push-double-bottom">
           Meet our designers
         </a>
      </div>

      </div>

    </div>
  </section>

</template>
