
.btn,
.btn--filled,
.btn--light,
.btn--gray {
  @include radius(4px);

  width: 280px;
  padding: $base-spacing-unit;

  text-transform: uppercase;

  color: $base-font-color;
  border: none;
  background-color: white;

  font-weight: 700;

  &:hover {
    color: white;
    background-color: map-get($colors, primary);
  }
}

.btn--text {
  color: map-get($colors, light-tertiary);
  border: none;
  background-color: transparent;

  font-style: normal;
  * {
    text-transform: lowercase !important;
  }
  &:hover {
    color: map-get($colors, primary);
    background-color: transparent;
  }

  &.active {
    color: map-get($colors, primary);
    background-color: transparent;
  }
}

.btn--nav {
  padding: $half-spacing-unit + 5 $base-spacing-unit;

  font-size: 1.2em;
}

.btn--gray {
  cursor: default;

  color: $base-font-color;
  background-color: map-get($colors, light-tertiary);
  &:hover {
    color: $base-font-color;
    background-color: map-get($colors, light-tertiary);
  }
}

.btn--light.disabled {
  cursor: inherit;

  opacity: .25;
  &:hover {
    color: $base-font-color;
    background-color: #fff;
  }
}

// .btn--filled {
//   border-color: map-get($colors, primary);
//   background-color: map-get($colors, primary);
// }
