
.btn,
.btn--filled,
.btn--light,
.btn--gray {
  @include radius(4px);

  padding: $base-spacing-unit;

  font-weight: 700;
}

.btn--text {
  color: map-get($colors, light-tertiary);
  border: none;
  background-color: transparent;

  font-style: normal;
  * {
    text-transform: lowercase !important;
  }
  &:hover {
    color: map-get($colors, primary);
    background-color: transparent;
  }

  &.active {
    color: map-get($colors, primary);
    background-color: transparent;
  }
}

.btn--nav {
  padding: $half-spacing-unit + 5 $base-spacing-unit;

  font-size: 1.2em;
}

.btn--gray {
  color: map-get($colors, dark-tertiary);
  border-color: map-get($colors, dark-tertiary);
  background-color: transparent;
  &:hover {
    border-color: map-get($colors, primary);
  }
}

.btn--filled {
  border-color: map-get($colors, primary);
  background-color: map-get($colors, primary);
}
