
.btn--filled,
.btn--light {
  @include radius(3px);

  padding: $base-spacing-unit;

  font-weight: 700;
}

.btn--filled.active {
  border-color: map-get($colors, secondary);
  background-color: map-get($colors, secondary);
}
