<template name="staff">

  <section id="team" class="soft-double-ends soft-sides text-center constrain-small-copy lap-and-up-push-double-ends">
    <h4>
      Screen Printing Team
    </h4>
    <p>
      We have a great team at Dapper Ink. Staffed by artists, graphic designers, and print specialists, Dapper Ink is a creative place to work and do business.
    </p>
  </section>
  <section class="lap-and-up-hard soft-half">
    <div class="grid flush">

      <div class="grid__item one-half lap-and-up-one-quarter hard lap-and-up-push-double-bottom">
        <div class="ratio--picture background--fill" style="background-image:url(/images/matt.jpg)">
          <div class="ratio__item background--fill" style="background-image:url(/assets/dapper.geodesic.person.png)">
          </div>
        </div>
        <div class="push-half lap-and-up-push">
          <h5>
            Matthew Moreau
          </h5>
          <h6>
            Owner Operator
          </h6>
          <p>
            <small>
              In my spare time...
              <br>
              <a href="#">The Landmark Project</a>
            </small>
          </p>

        </div>
      </div>

      <div class="grid__item one-half lap-and-up-one-quarter hard lap-and-up-push-double-bottom">
        <div class="ratio--picture background--fill" style="background-image:url(/images/jen.jpg)">
          <div class="ratio__item background--fill" style="background-image:url(/assets/dapper.geodesic.person.png)">
          </div>
        </div>
        <div class="push-half lap-and-up-push">
          <h5>
            Jen Moreau
          </h5>
          <h6>
            Account Keeper
          </h6>
          <p>
            <small>
              In my spare time...
              <br>
              <a href="#">Indie Craft Parade</a>
            </small>
          </p>

        </div>
      </div>

      <div class="grid__item one-half lap-and-up-one-quarter hard lap-and-up-push-double-bottom">
        <div class="ratio--picture background--fill" style="background-image:url(/images/tj.jpg)">
          <div class="ratio__item background--fill" style="background-image:url(/assets/dapper.geodesic.person.png)">
          </div>
        </div>
        <div class="push-half lap-and-up-push">
          <h5>
            TJ Briel
          </h5>
          <h6>
            Project Manager
          </h6>
          <p>
            <small>
              In my spare time...
              <br>
              <a href="#">The Slab Guild</a>
            </small>
          </p>

        </div>
      </div>

      <div class="grid__item one-half lap-and-up-one-quarter hard lap-and-up-push-double-bottom">
        <div class="ratio--picture background--fill" style="background-image:url(/images/david.jpg)">
          <div class="ratio__item background--fill" style="background-image:url(/assets/dapper.geodesic.person.png)">
          </div>
        </div>
        <div class="push-half lap-and-up-push">
          <h5>
            David Baker
          </h5>
          <h6>
            Sales & Distribution
          </h6>
          <p>
            <small>
              In my spare time...
              <br>
              <a href="#">Methodical Coffee</a>
            </small>
          </p>

        </div>
      </div>
    </div>
  </section>

</template>
