<template name="staff">

  <section id="team" class="soft-double-ends soft-sides text-center constrain-copy lap-and-up-push-double-ends">
    <h4>
      Meet our team
    </h4>
    <p class="flush">
      We’re pretty down-to-earth people with a passion for print & design. More importantly, we have a passion for helping people create an incredible product.  We also love craft coffee, local food, and our Blue Ridge Mountains.
    </p>
  </section>
  <section class="lap-and-up-hard soft-half">
    <div class="grid flush">

      <div class="grid__item one-half lap-and-up-one-quarter hard lap-and-up-push-double-bottom">
        <div class="ratio--picture background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/matt.jpg)">
          <div class="ratio__item background--fill" >
          </div>
        </div>
        <div class="push-half lap-and-up-push">
          <h5>
            Matthew Moreau
          </h5>
          <h6>
            Owner Operator
          </h6>
          <p>
            <small>
              In my spare time...
              <br>
              <a href="//www.thelandmarkproject.com/" class="italic">The Landmark Project</a>
            </small>
          </p>

        </div>
      </div>

      <div class="grid__item one-half lap-and-up-one-quarter hard lap-and-up-push-double-bottom">
        <div class="ratio--picture background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/jen.jpg)">
          <div class="ratio__item background--fill" >
          </div>
        </div>
        <div class="push-half lap-and-up-push">
          <h5>
            Jen Moreau
          </h5>
          <h6>
            Account Keeper
          </h6>
          <p>
            <small>
              In my spare time...
              <br>
              <a href="//indiecraftparade.com/" class="italic">Indie Craft Parade</a>
            </small>
          </p>

        </div>
      </div>

      <div class="grid__item one-half lap-and-up-one-quarter hard lap-and-up-push-double-bottom">
        <div class="ratio--picture background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/tj.jpg)">
          <div class="ratio__item background--fill" >
          </div>
        </div>
        <div class="push-half lap-and-up-push">
          <h5>
            TJ Breil
          </h5>
          <h6>
            Production Manager
          </h6>
          <p>
            <small>
              In my spare time...
              <br>
              <a href="//www.theslabguild.com/" class="italic">The Slab Guild</a>
            </small>
          </p>

        </div>
      </div>

      <div class="grid__item one-half lap-and-up-one-quarter hard lap-and-up-push-double-bottom">
        <div class="ratio--picture background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/clarisa.jpg)">
          <div class="ratio__item background--fill" >
          </div>
        </div>
        <div class="push-half lap-and-up-push">
          <h5>
            Clarisa Gonzalez
          </h5>
          <h6>
            Client Relations
          </h6>
          <p>
            <small>
              What I’m listening to...
              <br>
              <a href="//play.spotify.com/user/1243083058" class="italic">Current Playlist</a>
            </small>
          </p>

        </div>
      </div>
    </div>
  </section>

</template>
