<template name="Footer">

  <section class="background--tertiary soft lap-and-up-soft-double-ends text-center">
    <div class="constrain-small-copy">
      <div class="grid">
        <div class="grid__item one-quarter text-center">
          <a href="#" class="icon fa fa-map-marker icon--white" style="line-height: 52px; font-size: 30px;">
          </a>
        </div>

        <div class="grid__item one-quarter text-center">
          <a href="#" class="icon--facebook icon--white">
          </a>
        </div>

        <div class="grid__item one-quarter text-center">
          <a href="#" class="icon--twitter icon--white">
          </a>
        </div>

        <div class="grid__item one-quarter text-center">
          <a href="#" class="icon--instagram icon--white">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="background--secondary soft text-center">
    <p class="flush text-white">
      <small>
      Copyright {{year}} Dapper Ink Custom Printer
    </small>
    </p>

  </section>

</template>
