<template name="Footer">

  <section class="hard overlay text-center" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/yellowfSCooter.jpg)">
    <div class="overlay__item soft lap-and-up-soft-double-ends" >
      <div class="constrain-small-copy lap-and-up-soft-ends">
        {{#if MediaQuery 'handheld'}}

        <div class="grid">
          <div class="grid__item one-quarter text-center">
            <a href="" target="_blank" class="display-inline-block icon icon--white" style="padding: 18px; margin-top: -2px;">
               {{> mapIcon}}
            </a>
          </div>
          {{#each company.social}}
          <div class="grid__item one-quarter text-center">
            <a href="{{link}}" target="_blank" class="icon--{{name}} icon--white">
            </a>
          </div>
          {{/each}}
        </div>

         {{else}}
         <div  style="vertical-align: middle;" class="display-inline-block icon icon--white soft-half">
           {{> mapIcon}}
         </div>
         <p  style="vertical-align: middle;" class="hard flush display-inline-block text-white">
           <small>
             Printing in beautiful Greenville, SC
           </small>
         </p>
         {{/if}}
      </div>
    </div>

  </section>

  <section class="background--dark text-center ">
    <div class="lap-and-up-float-left push-half-top" style="vertical-align: middle;">
      <p class="flush text-white soft-half-ends">
        <small>
          Copyright {{year}} Dapper Ink Custom Printer
        </small>
      </p>
    </div>

    {{#unless MediaQuery 'handheld'}}
      <div class="float-right " style="vertical-align: bottom;">

        {{#each company.social}}
          <div class="display-inline-block text-center" style="vertical-align: middle;">
            <a href="{{link}}" target="_blank" class="icon--{{name}} icon--white">
            </a>
          </div>
        {{/each}}

      </div>
    {{/unless}}


  </section>

</template>
