<template name="Hero">
  <div class="section background--primary one-whole text-center soft-half">
    <h4 class="text-white uppercase flush hard">
      Dapper Ink
    </h4>

  </div>
  <section class="overlay--solid-dark hard background--fill transition" style="background-image:url(/images/{{img.get}})">
    <div class="overlay__item background--fill geo" style="background-image:url(/assets/dapper.geodesic.hero.png)">
      <div class="ratio--square lap-and-up-ratio--landscape" >
        <div class="ratio__item floating">
          <div class="floating__item">

            <h1 class="text-white hard push-half-bottom uppercase">
              We are printers
            </h1>

            <div class="grid one-whole">
              {{!--
              {{#each serviceList}}
                <div class="grid__item one-third text-center active">
                  <a href="{{pathFor 'service' service=this.preferredUrl}}" >
                    <h5 class="uppercase text-center">
                      <small class="{{#if isActive this.url}}text-brand{{else}}text-white{{/if}}">{{name}}</small>
                    </h5>
                  </a>
                </div>
              {{/each}}
              --}}
              <div class="grid__item one-third text-center active" style="vertical-align: middle;">
                <a href="/screen-printing" >
                  <h5 class="uppercase text-center display-inline-block flush">
                    <small class="{{#if isActive '/screen-printing'}}text-brand{{else}}text-white{{/if}}">
                      Screen Printing
                    </small>
                  </h5>
                </a>
              </div>

              <div class="grid__item one-third text-center active" style="vertical-align: middle;">
                <a href="letterpress">
                  <h5 class="uppercase text-center display-inline-block flush">
                    <small class="{{#if isActive '/letterpress'}}text-brand{{else}}text-white{{/if}}">
                      Letterpress
                    </small>
                  </h5>
                </a>
              </div>

              <div class="grid__item one-third text-center active" style="vertical-align: middle;">
                <a href="custom-printing" >
                  <h5 class="uppercase text-center display-inline-block flush">
                    <small class="{{#if isActive '/custom-printing'}}text-brand{{else}}text-white{{/if}}">
                      Custom Printing
                    </small>
                  </h5>
                </a>
              </div>


            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

</template>
