
<template name="modifier">



    {{#with modifier}}
      <h6 class="text-left push-bottom">
        {{count}}. {{#if label}}{{label}}{{else}}{{name}}{{/if}}
      </h6>

        {{#if $eq type "select"}}
          {{> select
            name=name
            items=modifiers
            includeBlank=true
            placeholder=false
            hideLabel=true
            prefill=false
            class='soft-bottom'
          }}
        {{/if}}

      <div class="soft-ends">
        {{#if $eq type "input"}}
          {{>Apollos.Forms.Input
            name=input.name
            label=input.label
            placeholder=input.label
            type="number"
            class='soft-bottom'
          }}
        {{/if}}
      </div>

    {{/with}}

</template>
