<template name="quote">

  <section class="soft-double-ends soft-sides text-center constrain-copy">
    <h6 class="text-left push-bottom">
      {{quote.action}}
    </h6>

    {{#if products}}
      <div class="grid">
      {{#each products}}

        <div class="grid__item text-center one-third lap-and-up-one-fifth">
          <a href="#" data-product={{name}}>
            <div class="icon--large fa fa-shirtsinbulk text-brand">
            </div>

            <h5>
              <small>{{#if label}}{{label}}{{else}}{{name}}{{/if}}</small>
            </h5>

          </a>
        </div>


      {{/each}}
      </div>
    {{/if}}


  </section>

  {{#if product}}
    {{#with product}}
    <section class="soft-double-bottom soft-sides text-center constrain-wide">
      <div class="grid text-center">
      {{#if modifiers}}
        {{#each modifiers}}
          <div class="grid__item one-whole text-center lap-and-up-one-third">

            {{!-- <h6 class="text-center push-bottom">
              {{#if label}}{{label}}{{else}}{{name}}{{/if}}
            </h6>--}}
            {{#if $eq type "select"}}
              {{#with this}}
                {{> select}}
              {{/with}}

            {{/if}}
          </div>
        {{/each}}
      {{/if}}
      </div>
    </section>
    {{/with}}
  {{/if}}
  {{!--

  <section class="soft-double-bottom soft-sides text-center constrain-wide">
    <div class="grid">
      <div class="grid__item one-whole text-center lap-and-up-one-third">
        <h6 class="text-center push-bottom">
          2. Choose Quantity
        </h6>
        {{> select name="Quantity"}}
        <div class="btn--filled btn--small constrain-btn push-bottom">
          50-100
        </div>
      </div>

      <div class="grid__item one-whole text-center lap-and-up-one-third">
        <h6 class="text-center push-bottom">
          3. Choose Quality
        </h6>
        {{> select name="Quality"}}
      </div>

      <div class="grid__item one-whole text-center lap-and-up-one-third">
        <h6 class="text-center push-bottom">
          2. Choose How Many Colors
        </h6>
        {{> select name="Colors"}}
      </div>
    </div>

  </section>

  --}}
  <section class="flush-top push-double-bottom soft-sides text-center constrain-small-copy hard-bottom">

    <h5 class="push-double-bottom">
      <small>*Price discounts available for multiple products in the same order, please contact us for more information.</small>
    </h5>
  </section>


  <section class="hard">
    <div class="grid flush">

      <div class="grid__item hard one-whole lap-and-up-one-half background--colored">
        <div class="handheld-ratio--none lap-and-up-ratio--landscape ">
          <div class="ratio__item text-center soft-double floating">
            <div class="floating__item">
              {{#if price}}
                <h4 class="text-white"> Price Range:</h4>
                <h2 class="text-white flush">${{price}}</h2>

              {{else}}

                {{#if message}}

                  <h4 class="flush text-white">
                    {{message}}
                  </h4>
                {{else}}
                  <h4 class="text-white"> Price Range:</h4>
                  <h2 class="text-white flush">$0</h2>
                {{/if}}

              {{/if}}
            </div>
          </div>
        </div>
      </div>

      <div class="grid__item hard one-whole lap-and-up-one-half background--colored-secondary">
        <div class="handheld-ratio--none lap-and-up-ratio--landscape">
          <div class="ratio__item text-center soft-double floating">
            <div class="floating__item">
              <p class="text-white">
                Let's talk designs and get your apparel printed.
              </p>
              <a href="#" data-upload="upload" class="btn--light btn--small">Send Estimate</a>
              <input style="display:none;" type="file" id="upload"/>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


</template>
