<template name="terms">

    <h2>Terms of Use</h2>

    <p>
      Last modified: [DATE]
    </p>

    <h4>AGREEMENT BETWEEN USER AND DAPPER INK</h4>


    <p>
      Welcome to the website of Dapper Ink LLC ("Dapper Ink", "we" or "us"). The following terms
      and conditions, together with any documents they expressly incorporate by reference
      (collectively, these "Terms of Use"), govern your access to and use of dapperink.com, including any content, functionality and services offered on or through dapperink.com (the "Website")[, whether as a guest or a registered user].

    </p>
    <p>
      Please read the Terms of Use carefully before you start to use the Website. The Dapper Ink
      Website is offered to you conditioned on your acceptance without modification or exception
      of the terms, conditions, and notices contained herein. By using the Website or by
      clicking to accept or agree to the Terms of Use when this option is made available to
      you, you accept and agree to be bound and abide by all the terms, conditions, and
      notices of these Terms of Use and our Privacy Statement, found at <a href="dapperink.com/terms/privacy-policy">dapperink.com/terms/privacy-policy</a>, and
      our Terms of Sale, found at <a href="dapperink.com/terms/terms-of-use">dapperink.com/terms/terms-of-use</a>, both of which are incorporated herein by
      reference (collectively, the “agreement”). If you do not want to agree to these Terms of
      Use, Terms of Sale or the Privacy Policy, you must not access or use the Website.
      You must be 18 or older to use our Services. Otherwise, you may only use our Services
      under the supervision of a parent or legal guardian.
    </p>



    <h4>
      MODIFICATION OF THESE TERMS OF USE
    </h4>

    <p>
      Dapper Ink reserves the right, in our sole discretion, to change all or any portion of the
      terms, conditions, and notices under which the Dapper Ink Website is offered. All changes
      are effective immediately when we post them, and apply to all access to and use of the
      Website thereafter.

    </p>

    <p>
      Your continued use of the Website following the posting of revised Terms of Use means
      that you accept and agree to the changes. You are responsible for periodically checking
      this page each time you access this Website so you are aware of any changes, as they
      are binding on you whether you make yourself aware of them or not.
    </p>

    <h4>
      ACCESSING THE WEBSITE AND SERVICES
    </h4>

    <p>
      We reserve the right to withdraw or amend this Website, and any service or material we
      provide, or become aware of, on the Website, in our sole discretion without prior notice.
      We will not be liable if all or any part of the Website is unavailable at any time, for any
      period, or for any reason. Dapper Ink reserves the right, in its sole discretion, to restrict or
      terminate your access to some parts of the Website or the entire Website, and the related
      services or any portion thereof from time to time, at any time, and for any duration
      including permanently, without notice.
    </p>



    <h4>
      LINKS TO THIRD PARTY SITES
    </h4>

    <p>
      The Dapper Ink Website may contain links to other Websites ("Linked Sites"). The Linked
      Sites are not under the control of Dapper Ink and Dapper Ink is not responsible for the
      contents of any Linked Site, including without limitation any link contained in a Linked Site,
      or any changes or updates to a Linked Site. Dapper Ink is not responsible for webcasting or
      any other form of transmission received from any Linked Site. Dapper Ink is providing these
      links to you only as a convenience, and the inclusion of any link does not imply endorsement
      by Dapper Ink of the site or any association with its operators.
    </p>

    <h4>
      NO UNLAWFUL OR PROHIBITED USE
    </h4>

    <p>
      As a condition of your use of the Dapper Ink Website, you warrant to Dapper Ink that you
      will not use the Dapper Ink Website for any purpose that is unlawful or prohibited by these
      terms, conditions, and notices. You may not use the Dapper Ink Website in any manner
      which could damage, disable, overburden, or impair the Dapper Ink Website or interfere with
      any other party's use and enjoyment of the Dapper Ink Website. You may not obtain or
      attempt to obtain any materials or information through any means not intentionally made
      available or provided for through the Dapper Ink Websites.
    </p>

    <h4>
      MATERIALS PROVIDED TO DAPPER INK:
    </h4>
    <p>
      Dapper Ink does not accept unsolicited submissions of any work, idea, creative material,
      concept or other information, and Dapper Ink assumes no obligation, either express or
      implied, with respect to any work, idea, creative material, concept or other information
      submitted by you. In the event that you submit any work, idea, creative material, concept, or
      other information to Dapper Ink in violation of the previous sentence (each, an “Unsolicited
      Submission”), you hereby grant to Dapper Ink (and its subsidiaries, affiliates and related
      entities) the free and unfettered, worldwide, non-exclusive, sublicensable (through multiple
      tiers of sublicensees), assignable (in whole or in part, including sub-assignments),
      transferable, royalty-free, fully paid-up, perpetual, irrevocable right to use, reproduce,
      distribute, create derivative works of, publicly perform, publicly display, digitally perform,
      make, have made, sell, offer for sale, import, use and/or exploit in any way whatsoever your
      Unsolicited Submission in any media now known or hereafter developed, for any purpose
      whatsoever, commercial or otherwise, without compensation to you or any provider, author,
      or owner of the Unsolicited Submission. No Unsolicited Submission shall subject Dapper Ink
      to any obligation of any kind, including without limitation, confidentiality, attribution,
      compensation, or otherwise, and Dapper Ink shall not be liable for any exploitation, use, or
      disclosure of any Unsolicited Submission. You hereby agree that no confidential or fiduciary
      relationship is intended or created by reason of the submission of any Unsolicited Submission
      by you. You hereby release the Dapper Ink Entities, to the maximum extent allowable by law,
      of and from, and irrevocably waive, any and all claims, costs, demands, liabilities, fees,
      penalties and other expenses of any kind whatsoever, known or unknown, that may exist or
      arise relating to, arising out of, or in connection with any Unsolicited Submission and/or
      Dapper Ink’ or any other Dapper Ink Entity’s use or disclosure of the Unsolicited Submission.

    </p>

    <h4>
      LIMITATION OF LIABILITY AND WARRANTY DISCLAIMER:
    </h4>

    <p>
      DAPPER INK AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS,
      PARTNERS, LICENSORS AND SUPPLIERS (COLLECTIVELY, THE “DAPPER INK
      PERSONS”) MAKE NO WARRANTY OR REPRESENTATION ABOUT THE SUITABILITY,
      RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION,
      SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS (COLLECTIVELY, THE
      “MATERIALS”) CONTAINED ON THE DAPPER INK WEB SITE FOR ANY PURPOSE. TO
      THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH MATERIALS
      ARE PROVIDED "AS IS" WITHOUT ANY (AND THE DAPPER INK PERSONS HEREBY
      DISCLAIM ANY) REPRESENTATION, WARRANTY GUARANTY, PROMISE OR
      CONDITION OF ANY KIND WHATSOEVER, EITHER EXPRESS, IMPLIED, STATUTORY
      OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-
      INFRINGEMENT. YOUR USE OF THE WEBSITE, THE SERVICES AND ANY MATERIALS
      IS AT YOUR OWN RISK.

    </p>

    <p>
      THE DAPPER INK WEBSITE AND THE MATERIALS INCLUDED IN OR AVAILABLE

      THROUGH THE WEB SITE MAY CONTAIN INACCURATE, INCOMPLETE OR OUT-OF-

      DATE INFORMATION, AND THE DAPPER INK PERSONS MAKE NO REPRESENTATION

      OR WARRANTY THAT THE SERVICES OR MATERIALS AS A WHOLE OR IN PART WILL

      BE ACCURATE, COMPLETE OR ERROR-FREE, NOR THAT ANY PARTICULAR

      DEVICES, OTHER HARDWARE OR SOFTWARE WILL BE COMPATIBLE WITH THE

      SERVICES OR ANY MATERIALS (IN WHOLE OR IN PART). THE DAPPER INK MAY, BUT

      IS NOT REQUIRED TO, MAKE IMPROVEMENTS AND/OR CHANGES IN THE DAPPER

      INK WEBSITE, THE SERVICES OR THE MATERIALS AT ANY TIME. THE DAPPER INK

      PERSONS ASSUME NO RESPONSIBILITY FOR ERRORS OR OMISSIONS ON OR

      WITHIN THE WEBSITE, THE SERVICES OR MATERIALS, AND MAKE NO COMMITMENT

      TO UPDATE ANY INFORMATION MADE AVAILABLE ON OR WITHIN THE SERVICES OR

      MATERIALS.
    </p>




  <p>
    YOU HEREBY ACKNOWLEDGE AND AGREE THAT NONE OF THE DAPPER INK

    PERSONS SHALL BE LIABLE TO YOU OR TO ANY THIRD PARTY FOR ANY AND ALL

    LOSSES, DAMAGES, LIABILITIES, COSTS, PENALTIES, FEES OR OTHER EXPENSES

    OF ANY KIND RELATED TO, ARISING OUT OF OR IN CONNECTION WITH THE

    SERVICES OR MATERIALS.
  </p>

  <p>
    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, YOU HEREBY

    RELEASE THE DAPPER INK PERSONS OF AND FROM, AND IRREVOCABLY WAIVE,

    AND IN NO EVENT SHALL DAPPER INK PERSONS BE LIABLE FOR, ANY AND ALL

    CLAIMS (INCLUDING, WITHOUT LIMITATION, CLAIMS FOR ANY DIRECT, INDIRECT,

    PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES

    WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE,

    DATA OR PROFITS, RELATED TO, ARISING OUT OF, OR IN CONNECTION IN ANY

    WAY WITH (DIRECTLY OR INDIRECTLY) YOUR USE OF (OR INABILITY TO USE) THE

    WEBSITE, THE SERVICES OR THE MATERIALS, YOUR VIOLATION OF THIS

    AGREEMENT OR THE VIOLATION OF THE RIGHTS OF ANY THIRD PARTY, OR

    OTHERWISE ARISING OUT OF THE USE OF THE DAPPER INK WEB SITE, WHETHER

    BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE,

    EVEN IF ONE OR MORE OF THE DAPPER INK PERSONS HAS BEEN ADVISED OF THE

    POSSIBILITY OF DAMAGES. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE

    DAPPER INK WEB SITE, THE SERVICES OR THE MATERIALS (INCLUDING WITHOUT

    LIMITATION OUR PRODUCTS) OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE

    AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE DAPPER INK WEB SITE.

    BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR

    LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE

    ABOVE LIMITATION MAY NOT APPLY TO YOU.
  </p>

  <p>
    IN NO EVENT SHALL THE DAPPER INK PERSONS’ TOTAL AGGREGATE LIABILITY TO

    YOU OR TO ANY THIRD PARTY RELATED TO, ARISING OUT OF, OR IN CONNECTION

    IN ANY WAY WITH THIS AGREEMENT, THE SERVICES, AND/OR THE MATERIALS,

    EXCEED FIVE UNITED STATES DOLLARS (US $5.00).
  </p>

  <h4>  INDEMNITY:</h4>

  <p>
    YOU UNDERSTAND THAT YOU ARE PERSONALLY RESPONSIBLE FOR YOUR BEHAVIOR

    WHILE USING THE SERVICES AND AGREE TO INDEMNIFY, DEFEND AND HOLD THE

    DAPPER INK PERSONS HARMLESS FROM AND AGAINST ANY AND ALL CLAIMS,

    LOSSES, DAMAGES, LIABILITIES, COSTS, PENALTIES, FEES OR OTHER EXPENSES OF

    ANY KIND (INCLUDING, WITHOUT LIMITATION, ACTUAL ATTORNEYS’ FEES AND COSTS

    AND CLAIMS FOR INTEREST) THAT ANY ONE OR  MORE DAPPER INK PERSONS MAY

    INCUR IN CONNECTION WITH ANY THIRD PARTY CLAIM RELATED TO, ARISING OUT OF

    OR IN CONNECTION WITH YOUR USE OF THE SERVICES OR MATERIALS, YOUR

    VIOLATION OF THIS AGREEMENT OR THE VIOLATION OF THE RIGHTS OF ANY THIRD

    PARTY.
  </p>

  <h4>GOVERNING LAW:</h4>

  <p>
    To the maximum extent permitted by applicable law, the laws of the State of South Carolina,

    U.S.A., without reference to any choice of law provisions, shall govern any claims or disputes

    related to, arising out of, or in connection with any access to or use of the Website, the Services

    or the Materials (including without limitation our Products). Dapper Ink and you hereby

    expressly and irrevocably consent to the exclusive personal jurisdiction and venue of the state

    and federal courts sitting in Greenville County, South Carolina, U.S.A. for any claim arising out

    of, related to, or in connection with this Agreement, the Website, the Services and the Materials.

    You and Dapper Ink agree to waive any and all objections to the exercise of jurisdiction over the

    parties by such courts and to venue in such courts, including without limitation, that the venue is

    inconvenient.
  </p>
  <p>

      The Website is controlled and operated by Dapper Ink from the United States and are not

      intended to subject Dapper Ink to the laws or jurisdiction of any state, country or territory other

      than those of the United States. Dapper Ink does not represent or warrant that the Website, the

      Services, or the Materials, or any part thereof are appropriate or available for use in any

      particular jurisdiction. Those who choose to access the Website do so on their own initiative and

      at their own risk and are responsible for complying with all local laws, rules and regulations. You

      are also subject to United States export controls and are responsible for any violations of such

      controls, including, without limitation, any United States embargoes or other federal rules and

      regulations restricting exports. We may limit, in whole or in part, the availability of the Website,

      the Services, and the Materials, to any person, geographic area or jurisdiction We choose, at

      any time and in Our sole discretion.
  </p>

  <p>
    Use of the Dapper Ink Web Site is unauthorized in any jurisdiction that does not give effect to all

    provisions of these terms and conditions, including without limitation this Section.

    The parties expressly agree that the rights and obligations of the parties under this agreement

    shall not be governed by the United Nations Convention on Contracts for the International Sale

    of Goods (CISG).
  </p>

  <h4>STATUTE OF LIMITATIONS:</h4>

  <p>
    You agree that regardless of any statute or law to the contrary, any claim or cause of action

    arising out of or related to use of the Website, the Services, the Materials or the agreement

    must be filed within one (1) year after such claim or cause of action arose or be forever barred.

  </p>
  <h4>
    COPYRIGHT AND TRADEMARK NOTICES:
  </h4>

  <p>

    All contents of the Dapper Ink Website are: Copyright © 2015 Dapper Ink. All rights reserved.

  </p>
  <h4>TRADEMARKS</h4>

  <p>

      The Dapper Ink Persons’ names, marks and logos, and all related names, logos, product and

      service names, trade dress, designs and slogans are trademarks of their respective owners.

      You must not use such marks without the prior written permission of such owner. All other

      names, logos, product and service names, trade dress, designs and slogans mentioned on this

      Website may be the trademarks of their respective owners.

  </p>
  <p>
    Any rights not expressly granted herein are reserved to Dapper Ink.

    NOTICES AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT

    Pursuant to Title 17, United States Code, Section 512(c) (2) of the Digital Millennium Copyright

    Act of 1998 (the “DMCA”), notifications of claimed copyright infringement under United States

    copyright law should be sent to Service Provider's Designated Agent. If you believe that any

    content on the Website, including any Submissions, violate your copyright, please see the

    following information. It is the policy of the Company to terminate the user accounts of repeat

    infringers.
  </p>

  <p>
    The DMCA provides recourse for copyright owners who believe that material appearing

    on the Internet infringes their rights under U.S. copyright law. If you believe in good faith that

    any materials available on or accessible through the Website infringe your copyright, you (or

    your agent) may send the Company a notice requesting that we remove the material or block

    access to it. If you believe in good faith that someone has wrongly filed a notice of copyright

    infringement against you, the DMCA permits you to send the Company a counter-notice.

    Notices and counter-notices must meet the then-current statutory requirements imposed by the

    DMCA. See http://www.copyright.gov/ for details. Notices and counter-notices must be in

    writing and should be sent to the Company’s designated agent by mail, email or fax in

    accordance with the following:

  </p>
  <p>
    DAPPER INK LLC<br/>

    Attention: Designated Agent<br/>

    207 Wade Hampton Boulevard<br/>

    Greenville, SC 29609<br/>

    Phone: (864) 551-3115<br/>

    Email: info@dapperink.com<br/>
  </p>
  <p>

    We suggest that you consult your attorney before filing a notice or counter-notice. ALL

    INQUIRIES NOT RELEVANT TO OR IN COMPLIANCE WITH THE FOREGOING

    PROCEDURE WILL RECEIVE NO RESPONSE.
  </p>

  <h4>GENERAL </h4>
  <p>
    You agree that no joint venture, partnership, employment, or agency relationship exists

    between you and Dapper Ink as a result of this agreement or use of the Dapper Ink Website.

    You agree that, except as otherwise expressly provided in these Terms of Use, there shall

    be no third-party beneficiaries to this agreement. Dapper Ink's performance of this

    agreement is subject to existing laws and legal process, and nothing contained in this

    agreement is in derogation of Dapper Ink's right to comply with governmental, court and law

    enforcement requests or requirements relating to your use of the Dapper Ink Website or

    information provided to or gathered by Dapper Ink with respect to such use. If any part of this

    agreement is determined to be invalid or unenforceable pursuant to applicable law including,

    but not limited to, the warranty disclaimers and liability limitations set forth above, then the

    invalid or unenforceable provision will be deemed superseded by a valid, enforceable

    provision that most closely matches the intent of the original provision and the remainder of

    the agreement shall continue in effect. Unless otherwise specified herein, this agreement

    constitutes the entire agreement between the user and Dapper Ink with respect to the

    Dapper Ink Website, Services and Materials, and it supersedes all prior or contemporaneous

    communications and proposals, whether electronic, oral or written, between the user and

    Dapper Ink with respect to the Dapper Ink Website, Services and Materials. A printed version

    of this agreement and of any notice given in electronic form shall be admissible in judicial or

    administrative proceedings based upon or relating to this agreement to the same extent and

    subject to the same conditions as other business documents and records originally

    generated and maintained in printed form. It is the express wish to the parties that this

    agreement and all related documents be drawn up in English.
  </p>


</template>
